<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timers - {{page["tag_name"]}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/assets/output.css" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <div class="container-md border rounded align-items-center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Soot Sprite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ page.timezone }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                {% for timezone in page.timezones %}
                                <li>
                                    <a class="dropdown-item" href="#">
                                        {{ timezone }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-end">
                    <a href={{ page.download_link }} download={{ page.download_file_name }}>
                        UwU click me!!
                    </a>
                </div>
            </div>
        </nav>

        <hr>

        <div class="timers row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="">
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for timer in page.timers %}
                        {% if timer.is_current %}
                        <tr class="">
                            <td id="currentStartTime">
                                {{ to_human_date(timestamp=timer.start_time, timezone=page.timezone) }}
                            </td>
                            <td></td>
                            <td class="timer-duration mx-auto m-1 p-2">
                                <span id="currentHours" class="time"></span>
                                <span class="separator">:</span>
                                <span id="currentMinutes" class="time"></span>
                                <span class="separator">:</span>
                                <span id="currentSeconds" class="time"></span>
                            </td>
                        </tr>
                        {% else %}
                        <tr class="">
                            <td class="start m-1 p-1">{{ to_human_date(timestamp=timer.start_time,
                                timezone=page.timezone) }}</td>
                            <td class="end m-1 p-1">{{ to_human_date(timestamp=timer.end_time, timezone=page.timezone)
                                }}</td>
                            <td id="timer-duration mx-auto m-1 p-2">
                                <span class="hours" id="time">
                                    {{ extract_timer_values(duration=timer.duration, time_part="hours")}}
                                </span>
                                <span class="separator">:</span>
                                <span class="minutes" id="time">
                                    {{ extract_timer_values(duration=timer.duration, time_part="minutes")}}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        // DOM elements
        const minutesElement = document.getElementById("currentMinutes");
        const hoursElement = document.getElementById("currentHours");
        const secondsElement = document.getElementById("currentSeconds");
        const startTimerElement = document.getElementById("currentStartTime");

        let timer;
        let current = startTimerElement != null;
        let start;
        let now;
        let hours;
        let minutes;
        let seconds;

        if (current) {
            // Get the start time for the current timer
            let start = Date.parse(startTimerElement.innerText.split(',')[1].trim()); // Parseable date after the comma
            let now = Date.now();
            let diff = now - start;

            hours = Math.floor(((diff / 1000) / 60) / 60);
            minutes = Math.floor((diff / 1000) / 60);
            seconds = Math.floor(diff / 1000);

            updateDisplay();
        }


        // Function to update the stopwatch display
        function updateDisplay() {
            let hoursValue = hours > 1 ? hours : 0;
            hoursElement.textContent = hoursValue.toString().padStart(2, '0');
            minutesElement.textContent = minutes.toString().padStart(2, '0');
            secondsElement.textContent = seconds.toString().padStart(2, '0');
        }

        // Function to start or stop the stopwatch
        function startTimer() {
            if (!current) {
                return;
            }
            timer = setInterval(() => {
                seconds += 1;
                // once 60 seconds have passed, reset seconds and update minutes
                if (seconds >= 60) {
                    seconds = 0;
                    minutes += 1;
                }
                // Once 60 minutes have passed reset minutes and update hours
                if (minutes >= 60) {
                    mintues = 0;
                    hours += 1;
                }
                updateDisplay();
            }, 1000); // 1 second delay
        }

        // Initialize
        window.onload = function () {
            startTimer();
        }

    </script>
</body>

</html>