<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timers - {{page["tag_name"]}}</title>
</head>

<body>
    {% for timer in page.timers %}
    {% if timer.is_current %}
    <div class="current">
        <h3>Current timer</h3>
        <div> {{ timer.start_time }}</div>
    </div>
    {% else %}
    <div class="timer">
        <div class="start">{{ timer.start_time }}</div>
        <div class="duration">{{ timer.duration }}</div>
    </div>
    {% endif %}
    {% endfor %}
</body>

</html>